@model ProductVM
@using Microsoft.AspNetCore.Mvc.Rendering;


<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-light">@(Model.Product.Id!=0?"Update":"Create") Product</h2>
			</div>
		</div>
	</div>
	
	<div class="card-body p-4">
		<form method="post" class="row" enctype="multipart/form-data">
			<input asp-for="Product.Id" hidden />
			<input asp-for="Product.ImageUrl" hidden />

			<div class="row">
				<div class="col-10">
					<div class="border p-3 ">

						<div asp-validation-summary="All"></div>

						<div class="mb-3 p-1">
							<label class="p-1">Product Title</label>
							<input asp-for=Product.Title type="text" class="form-control" />
							<span asp-validation-for="Product.Title" class="text-danger"></span>
						</div>

						<div class="mb-3 p-1">
							<label class="p-1">Description</label>
							<textarea asp-for=Product.Description type="email" class="form-control"></textarea>
							<span asp-validation-for="Product.Description" class="text-danger"></span>

						</div>
						
						<div class="mb-3 p-1">
							<label class="p-1">Author</label>
							<input asp-for=Product.Author type="text" class="form-control" />
							<span asp-validation-for="Product.Author" class="text-danger"></span>

						</div>
						<div class="mb-3 p-1">
							<label class="p-1">List Price</label>
							<input asp-for=Product.ListPrice type="number" class="form-control" />
							<span asp-validation-for="Product.ListPrice" class="text-danger"></span>

						</div>
						<div class="mb-3 p-1">
							<label class="p-1">Price</label>
							<input asp-for=Product.Price type="number" class="form-control" />
							<span asp-validation-for="Product.Price" class="text-danger"></span>

						</div>
						
						
						<div class="mb-3 p-1">
							<label class="p-1" asp-for="Product.CategoryId"></label>
							<select asp-for=Product.CategoryId asp-items="@Model.CategoryList" class="form-select">
								<option>-- select category --</option>
							</select>

							<span asp-validation-for="Product.CategoryId" class="text-danger"></span>

						</div>
						<div class="mb-3 p-1">
							<label class="p-1" asp-for="Product.ImageUrl"></label>
							<input asp-for=Product.ImageUrl type="file" name="file" class="form-control" />
@* 							<span asp-validation-for="Product.ImageUrl" class="text-danger"></span>
 *@
						</div>


						<div class="row">

							<div class="col-6 col-md-3">
								<button type="submit" class="btn btn-dark form-control">Create</button>
							</div>

							<div class="col-6 col-md-3">
								<a class="btn btn-outline-secondary form-control" asp-controller="Product" asp-action="Index">
									Back To List
								</a>
							</div>

						</div>

					</div>
				</div>
				<div class="col-2">
					<img src="@Model.Product.ImageUrl" width="100%"
						 style="border-radius:5px; border: 1px solid #bbb9b9" />

				</div>
			</div>
			
				



					

		</form>
	</div>
</div>


